{% extends "layout.html" %} 
{% block title %}Calories Tracker{% endblock %}

{% block leftbutton %}
<button class="navbutton" data-toggle="modal" data-target="#addProductModal">Add product</button>
{% endblock %}

{% block button %}
<div class="dropdown">
    <button class="navbutton dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Options
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/profile">Profile</a>
        <a class="dropdown-item" href="/logout">Logout</a>
    </div>
  </div>
{% endblock %}


{% block content %}

<div class="main-container">
  <div class="upper-main-container">
    <div class="upper-item">
      <!-- Meal -->
      <div class="dropdown">
        <button class="dropdown-toggle upper-item-rolldown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          meal
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Śniadanie</a>
            <a class="dropdown-item" href="#">Obiad</a>
        </div>
      </div>
    </div>
    <div class="upper-item">data</div>
    <div class="upper-item">
        <button type="button" class="add-meal-btn" data-toggle="modal" data-target="#exampleModal">
            add meal
          </button>
        </div>
  </div>

  <div class="lower-main-container">
    <div class="table-container">
      <div class="header-table">
        <table style="width:100%;">
          <thead style="height: 40px;">
            <tr style="text-align: center; ">
              <th style="width:40%">Meals</th>
              <th style="width:10%">B [g]</th>
              <th style="width:10%">W [g]</th>
              <th style="width:10%">T [g]</th>
              <th style="width:10%">kcal</th>
              <th style="width:15%">weight [g]</th>
              <th style="width:5%">Edit</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="content-table">
        <table style="width:100%;">
          {% for meal in meals %}
          <tr>
              <td style="width:40%">{{meal.product.name}}</td>
              <td style="width:10%">{{meal.proteins}}</td>
              <td style="width:10%">{{meal.carbohydrates}}</td>
              <td style="width:10%">{{meal.fats}}</td>
              <td style="width:10%">{{meal.kcal}}</td>
              <td style="width:15%">{{meal.weight}}</td>
              <td style="width:5%">
              <button type="button" style="width:100%; height: 25px; background-color: rgb(0,0,0,0.0); border:none" data-toggle="modal" data-target="#editMeal{{meal.id}}"><i class="fa fa-edit" style="color:orange"></i></button>
            </td>
          </tr>

        <!-- Edit meal modal -->
        <div class="modal fade" id="editMeal{{meal.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="color:orange"c id="exampleModalLabel">Edit meal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="color:orange">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="#">
                  <div style="display:block">
                    <label for="category" style="color:orangered">Wybierz kategorie</label>
                    <div style="display:block">
                      <select name="category" style="width:200px">
                        <option hidden disabled selected>{{meal.product.category}}</option>
                        {% for product_category in product_category %}
                          <option value="{{product_category}}">{{product_category}}</option>
                        {% endfor %}
                          <!-- <option>{{meal.id}}</option> -->
                          <!-- <option>Pieczywo</option>
                          <option>Nabiał</option>
                          <option>Mięso</option> -->
                      </select>
                    </div>
                  </div>

                  <div style="display:block">
                    <label for="product" style="color:orangered">Wybierz produkt</label>
                    <div style="display:block">
                      <select name="product25" id="prodfield25">
                        <!-- <option>kajzerka</option>
                        <option>mleko</option>
                        <option>schab</option> -->
                      </select>
                    </div>
                  </div>

                  <div style="display:block">
                    <label for="weight" style="color:orangered">Podaj wagę/objętość</label>
                    <div style="display:block">
                      <input type="number" step="0.01" min="0" value="{{meal.weight}}">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="navbutton">Add</button>
                    <button type="submit" class="delete-button" formaction="/delete-meal/{{meal.id}}">Remove</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>

          {% endfor %}
        </table>
      </div>
      <div class="footer-table">
        <table style="width:100%;">
          <tr>
            <td style="width:40%">
              <div style="float:right; color: orange; margin-right: 10px; font-weight: bold;">Sum:</div></td>
            <td style="width:10%; font-weight: bold; font-size: 1.1em;">{{"%.2f"|format(proteins_total)}}</td>
            <td style="width:10%; font-weight: bold; font-size: 1.1em;">{{"%.2f"|format(carbs_total)}}</td>
            <td style="width:10%; font-weight: bold; font-size: 1.1em;">{{"%.2f"|format(fats_total)}}</td>
            <td style="width:10%; font-weight: bold; font-size: 1.1em;">{{"%.2f"|format(kcal_total)}}</td>
            <td style="width:15%; font-weight: bold; font-size: 1.1em;">{{"%.2f"|format(weight_total)}}</td>
            <td style="width:5%"></td>
          </tr>
          <tr>
            <td style="width:40%">
              <div style="float:right; color: orange; margin-right: 10px; font-weight: bold;">Average:</div></td>
            <td style="width:10%"></td>
            <td style="width:10%"></td>
            <td style="width:10%"></td>
            <td style="width:10%"></td>
            <td style="width:15%"></td>
            <td style="width:5%"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color:orange"c id="exampleModalLabel">Add meal to list</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color:orange">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/add-meal">
            <div style="display:block">

              <label for="category" style="color:orangered">Wybierz kategorie</label>
              <div style="display:block">
                <select name="category" id="catfield" onchange="testing()">
                  <option selected hidden disabled>Kategoria</option>
                  {% for product_category in product_category %}
                    <option value="{{product_category}}">{{product_category}}</option>
                  {% endfor %}
                </select>
              </div>
          </div>

          <div style="display:block">

            <label for="product" style="color:orangered">Wybierz produkt</label>
            <div style="display:block;">
              <select name="product" id="prodfield" style="width:200px">
                  <!-- <option>kajzerka</option>
                  <option>mleko</option>
                  <option>schab</option> -->
              </select>
            </div>
        </div>

        <div style="display:block">

          <label for="product" style="color:orangered">Wybierz rodzaj posiłku</label>
          <div style="display:block;">
            <select name="meal_type" id="prodfield" style="width:200px">
                <option value="breakfast">Śniadanie</option>
                <option value="second_breakfast">II Śniadanie</option>
                <option value="dinner">Obiad</option>
                <option value="teatime">Podwieczorek</option>
                <option value="supper">Kolacja</option>
                <option value="snack1">Przekąska 1</option>
                <option value="snack2">Przekąska 2</option>
                <option value="snack3">Przekąska 3</option>
            </select>
          </div>
          </div>

          <div style="display:block">

            <label for="weight" style="color:orangered">Podaj wagę/objętość</label>
            <div style="display:block">
              <input type="number" step="0.01" min="0" name="weight">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="navbutton">Add</button>
          </div>
          </form>
        </div>

      </div>
    </div>
  </div>



<!-- Left modal, to add product -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductdModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout-left" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:orange"c id="exampleModalLabel">Add product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:orange">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/add-product">
          {{ product_form.hidden_tag() }}

            <div>
              <label for="category" style="color:orangered; width: 150px">Kategoria</label>
              <select name="cat" style="width:150px; height: 30px">
                <option value="Breadstuff">Breadstuff</option>
                <option value="Meat">Meat</option>
                <option value="Dairy">Dairy</option>
                <option value="Fruit">Fruit</option>
                <option value="Vegetable">Vegetable</option>
                <option value="Pasta">Pasta</option>
                <option value="Drink">Drink</option>
                <option value="Grain">Grain</option>
                <option value="Honey">Honey</option>
                <option value="Nuts">Nuts</option>
                <option value="Fats">Fats</option>
                <option value="Misc">Misc</option>
                <option value="Made">Made</option>
                <option value="" disabled selected hidden>Pick a category</option>
              </select>
              <!-- {{ product_form.category(id="category", style="width:150px") }} -->
            </div>

            <div>
              <label for="name" style="color:orangered; width: 150px">Nazwa</label>
              {{ product_form.name(placeholder="Name", id="name", style="width:150px") }}
            </div>

            <div>
              <label for="maker" style="color:orangered; width: 150px">Producent</label>
              {{ product_form.maker(placeholder="Maker", id="maker", style="width:150px") }}
            </div>

            <div>
              <label for="proteins" style="color:orangered; width: 150px">Białko [g per 100g]</label>
              {{ product_form.proteins(placeholder="Proteins", id="proteins", style="width:150px") }}
            </div>

            <div>
              <label for="carbs" style="color:orangered; width: 150px">Węgle [g per 100g]</label>
              {{ product_form.carbs(placeholder="Carbs", id="carbs", style="width:150px") }}
            </div>

            <div>
              <label for="fats" style="color:orangered; width: 150px">Tłuszcze [g per 100g]</label>
              {{ product_form.fats(placeholder="Fats", id="fats", style="width:150px") }}
            </div>

            <div>
              <label for="kcal" style="color:orangered; width: 150px">Kcal [per 100g]</label>
              {{ product_form.kcal(placeholder="Kcal", kcal="kcal", style="width:150px") }}
            </div>

          <div>
            <button type="submit" class="navbutton" style="margin-top: 20px; margin-left: 150px; width: 150px">Add</button>
         </div>  
        </form>
      </div>

    </div>
  </div>
</div>





<script>
  function testing() {
        var i = document.getElementById("catfield").value;
        fetch('/category/' + i).then(function(response) {
          response.json().then(function(data){
            optionHTML = ''
            for (let i = 0; i < data.length; i++){
              optionHTML += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>'
            }
            document.getElementById('prodfield').innerHTML = optionHTML;
            document.getElementById('prodfield25').innerHTML = optionHTML;
          });
        });

  }

</script>



{% endblock %}

