@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background: url('background-image.jpg') no-repeat center center fixed; 
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

.navbar {
    color: orange;
    background-color: rgb(0, 0, 0, 0.7);
    height: 50px;
    text-align: center; 
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    position: relative;
    
}

.navbutton {
    background-color: rgb(0, 0, 0, 0.0);
    color: white;
    border: solid 1px;
    border-color: orange;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
    transition: 0.3s;
}

.navbutton:hover, .navbutton:active{
    background-color: orange;
}

.title {
    letter-spacing: 10px;
    left: 50%;
    font-size: 25px;
    position: absolute;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.login-register-form {
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    max-height: 400px;
    border-radius: 10px;
    border: solid 1px;
    border-color: orange;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
}

.login-register-form-input {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
    border: none;
    font-family: 'Rationale', sans-serif;
    color: white;
    border: solid 1px;
    border-color: orange;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
    margin-top: 30px;
    height: 40px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.login-button {
    text-align: center;
    background-color: rgb(224, 9, 9);
    border: none;
    font-family: 'Rationale', sans-serif;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
    margin-top: 30px;
    height: 40px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.login-button:hover {
    background-color: rgb(185, 18, 18);
}

.main-container {
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 1000px; 
    height: 65%; 
    left: 50%;
    top: 5%;
    margin-top: 5%;  
    border-radius: 5px;
    border: solid 1px;
    border-color: black;
}

.dropdown-menu {
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: orange;
    color: white
}

.fine-print {
    font-family: 'Rationale', sans-serif; 
    font-size: 12px; 
    text-decoration: none; 
    color:orange;
    transition: 0.3s;
}

.fine-print:hover {
    text-decoration: none; 
    color: white;
    transition: 0.3s;
}

.upper-main-container {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.upper-item {
    color: white; 
    width: 33%; 
    text-align: center; 
    padding-top: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 2px;
}

.upper-item-rolldown {
    border: none;
    color: white; 
    width: 33%; 
    text-align: center; 
    padding-top: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 0, 0.0);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
    transition: 0.3s;
}

.upper-item-rolldown:hover {
    transition: 0.3s;
    color: orange;
}

.lower-main-container {
    width: 100%;
    height: 90%;
    padding: 2%;
}

.table-container {
    width: 800px;
    height: 400px;
    margin: auto;
}

.header-table {
    width: 100%;
    height: 10%;
    color: orange;
    text-align: center;
    font-weight: bold;
    border-collapse: collapse;
}

.header-table th {
    border-bottom: 4px solid #a09e9e;
}

.header-table th + th {
    border-left: 2px solid #a09e9e;
}

.content-table {
    width: 100%;
    max-height: 75%;
    overflow: auto;
    text-align: center;
}

.content-table tr:nth-child(even) {
    background-color: rgba(136, 130, 120, 0.405);
}

.content-table td {
    border-bottom: 2px solid #a09e9e;
    color: white;
}

.content-table tr:last-child {
    border-bottom: hidden;
}

.content-table td + td{
    border-left: 2px solid #a09e9e;
    
}

.footer-table {
    width: 100%;
    height: 15%;
    color: white;
    border-style: hidden;
    text-align: center;
    border-top: 2px solid #a09e9e;
}

.footer-table td {
    border-top: 2px solid #a09e9e;
    border-bottom: 2px solid #a09e9e;
}

.footer-table tr:last-child {
    border-bottom: hidden;
}

.footer-table td + td {
    border-left: 2px solid #a09e9e;
}

.add-meal-btn {
    border: none;
    text-transform: uppercase;
    background-color: rgb(0,0,0,0);
    color: white;
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 2px;
    transition: 0.3s;
}

.input-field {
    background-color: rgb(0, 0, 0, 0.0);
    color: rgb(255, 255, 255);
    border: solid 1px;
    border-color: orange;
    border-radius: 10px;
    width: 150px; 
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-field:hover {
    cursor: pointer;
}

.input-fieldtxt {
    background-color: rgb(0, 0, 0, 0.0);
    color: rgb(255, 255, 255);
    border: solid 1px;
    border-color: orange;
    border-radius: 10px;
    width: 150px; 
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-fieldtxt:hover {
    cursor: text;
}

.meal-type-button {
    background-color: rgb(0, 0, 0, 0.0);
    color: white;
    border: solid 1px;
    border-color: orange;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    transition: 0.3s;
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.meal-type-button:hover {
    color: orange;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.add-meal-btn:hover {
    color: orange;
    border: none;
    transition: 0.3s;
}

.add-meal-btn:active .add-meal-btn:focus{
    border: 0;
    outline: 0;
}

.delete-button {
    background-color: rgb(0, 0, 0, 0.0);
    color: white;
    border: solid 1px;
    border-color: red;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
    transition: 0.3s;
}

.delete-button:hover, .delete-button:active{
    background-color: red;
}

.profile_separator_bg {
    height: 2px; 
    width:100%; 
    margin-top: 10px; 
    background-color:white;
  }
  
.profile_separator_sm {
    height: 1px; 
    width:100%; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    background-color:white;
}


/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
    margin-right:30px;

    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, 0.0);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, 0.0); 
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(69, 108, 225, 0.6); 
}
/* === */

.modal-content{background-color: rgba(0, 0, 0, 0.9);}
.modal-dialog-slideout {min-height: 50%; margin-right: 10px; margin-top: 200px; background: rgba(58, 55, 55, 0.386);}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 50%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;} 
.modal-dialog-slideout .modal-header h5 {float:left;}

.modal-dialog-slideout-left {min-height: 50%; margin-left: 10px; margin-top: 200px; background: rgba(58, 55, 55, 0.386);}
.modal.fade .modal-dialog.modal-dialog-slideout-left {-webkit-transform: translate(0, 20)scale(1);transform: translate(0, 20)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout-left {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 50%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout-left .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout-left .modal-content{border: 0;}
.modal-dialog-slideout-left .modal-header, .modal-dialog-slideout-left .modal-footer {height: 69px; display: block;} 
.modal-dialog-slideout-left .modal-header h5 {float:left;}

.modal-backdrop {
    z-index: -1;
}